.footer {
    background-color: #0e0e0e;
    padding: 20px;
    text-align: left;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 150px;
}

.contact-info,
.social-media,
.working-hours {
    margin-bottom: 20px;
}

.contact-info p,
.working-hours p {
    margin: 5px 0;
    color: #7e6941;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-info a {
    text-decoration: none; /* Removes underline from phone number */
    color: white;
}

.contact-info a:hover {
    text-decoration: none; /* Ensures no underline on hover */
}

/* Center social media icons */
.social-media {
    text-align: center;
    margin: 0 auto; /* Centers the social media section */
}

.social-media a {
    margin: 0 10px;
    color: #e8dfdf;
    size: 10px;
}

.social-media a:hover {
    color: #ff6347; /* Changes icon color on hover */
}

.footer-logo {
    margin-top: 70px; /* Add some space between Instagram icon and logo */
    width: 200px; /* Adjust width according to the size you want */
  }

/* Add more spacing between sections */
.footer-content > div {
    flex: 1;
    margin-right: 150px; /* Add space between the columns */
}

@media (max-width: 768px) {
    .footer {
        padding: 10px; /* Reduced padding for mobile */
        font-size: 14px; /* Adjust font size for better readability */
    }

    .footer .contact-info {
        display: flex; /* Use flexbox for better alignment */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
        margin: 10px 0; /* Margin for spacing */
    }

    .footer .contact-info div {
        margin-bottom: 5px; /* Space between items */
    }

    .follow-us {
        margin-top: 10px; /* Space above Follow Us section */
    }

    .follow-us h4 {
        margin-bottom: 5px; /* Space between heading and icons */
    }

    .footer .social-media {
        display: flexbox; /* Flexbox for social media icons */
        justify-content: center; /* Center align icons */
        margin-top: 10px; /* Margin above social icons */
        margin-left: -30px;
    }

    .footer .social-media a {
        margin: 80px 5px; /* Space between social media icons */
        text-decoration: none; /* Remove underline */
        color: white; /* Icon color */
    }
}