body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

section {
  padding: 60px 20px; /* Adjust spacing */
  margin: 20px auto;
  max-width: 800px; /* Center content */
  background: #fff; /* White background for sections */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* h2 {
  border-bottom: 2px solid #ca932e; 
  padding-bottom: 10px;
} */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.content-container {
  padding-top: 80px; /* Adjust based on your header height */
  flex-grow: 1; /* Makes the content expand to fill available space */
  min-height: calc(100vh - 150px); /* Adjust for header and footer height */
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  background-color: #000;
  color: #7e6941;
  font-weight: bolder;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7;
}

.scroll-to-top:hover {
  opacity: 1;
}
